* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
    overflow-x: hidden;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.logo img {
    width: 50px; 
    height: auto;
    display: block;
}

.main-nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.main-nav a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.main-nav a:hover {
    color: #00aaff;
}

.hero-section {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    background: #222 url('images/bucket.png') no-repeat center center/cover;
    position: relative;
    padding-left: 8%;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.hero-text p {
    font-size: 1.2rem;
    color: #bbb;
}

.butterfly-box {
    position: absolute; 
    top: 33%;  
    left: 32%;  
    cursor: pointer;
    z-index: 10;
}
.butterfly-img {
    width: 400px;
    height: auto;
}



.arcadia-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #000;
}

.full-screen-img, 
.full-screen-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.full-screen-outline {
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.sign-hotspot {
    position: absolute;
    bottom: 24%; 
    right: 12%;  
    width: 40%;  
    height: 50%; 
    z-index: 10; 
    cursor: pointer;
}

.sign-hotspot:hover + .full-screen-outline {
    opacity: 1;
}

.arcadia-info {
    position: relative;
    z-index: 4;
    padding-left: 10%;
}

.arcadia-info h2 {
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.arcadia-info p {
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.2;
}

.story-section {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
}

.story-text p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4;
}

.gallery-section {
    height: 120vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.gallery-container {
    position: relative;
    width: 600px;
    height: 600px;
}

.polaroid {
    position: absolute;
    width: 280px;
    height: auto;
    transition: transform 0.3s ease;
}

.p5 {
    top: -50px;
    left: -40px;
    transform: rotate(-2deg);
    width: 220px;
    height: auto;
    z-index: 2;
}

.p4 {
    top: -90px;
    right: -188px;
    transform: rotate(8eg);
    width: 340px;
    height: auto;
    z-index: 3;
}

.p2 {
    top: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(-2deg);
    width: 380px;
    z-index: 5;
}

.p1 {
    bottom: 20px;
    left: -140px;
    transform: rotate(3deg);
    width: 320px;
    height: auto;
    z-index: 6;
}

.p3 {
    bottom: -10px;
    right: -150px;
    transform: rotate(1deg);
    width: 350px;
    height: auto;
    z-index: 4;
}

.p6 {
    bottom: -150px;
    left: 20px;
    transform: rotate(-3deg);
    width: 220px;
    height: auto;
    z-index: 1;
}